@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #d3927ed2;
}

body {
    background-color: #d3927ed2;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

h1 {
    font-size: 80px;
    line-height: 66px;
    padding: 3% 5%;

}

main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    background-attachment: fixed;
    min-height: 100vh;
    background-image: url(../assets/background_maior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 10px;
    font-size: 12px;
}
#sec_page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
}
.flex {
    margin: 3% 1%;
}
div {
    background-color: #032447;
    padding: 3%;
    margin-top: 5%;
}
h3 {
    font-size: 40px;
}
ul {
    list-style: none;
}
@media screen and (max-width:800px) {
    #sec_page {
        display: flex;
        flex-direction: column;
    }
    
}