@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

a {
    color: #eee;
}

a:hover {
    transition: 0.5s;
    color: rgb(104, 104, 104);
}

ul {
    list-style: none;
}

li {
    padding-bottom: 10px;
}

body {
    background-color: #0C0B0D;

}

#title {
    margin: 0 30px;
    font-size: 2.5vh;
}

h1 {

    font-size: 10vh;
    line-height: 8vh;
    margin: 0 0 30px 0;
}

h2 {
    font-size: 60px;
    line-height: 50px;
    margin: 0 0 3% 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
}

.logo {
    position: absolute;
    top: 0px;
    right: 0px;
   
}

.grid-container {
    max-width: 90vw;
    margin: 10% 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-template-areas:
        "a b"
        "a b"
    ;
    justify-items: center;
   gap: 5px;
    color: #eee;
}
.one img, .two img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 0 5px 0;
   
}

.one {
    display: flex;
    flex-direction: column;
        justify-content: space-between;
    grid-area: a;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: b;
}

.pratical {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 10% 0;
}

.pratical div {
    margin: 30px 15px;
    padding: 30px;
    background-color:  #eee;
    color: #0C0B0D;
    position: relative;

}

.pratical h3 {
    text-align: left;
    line-height: 45px;
    font-size: 22px;
    font-weight: 100;

}
.pratical h4 {
    text-align: left;
}
.pratical img:hover {
  cursor: pointer;
}
.pratical ul {
    display: none;
    margin: 30px 0 0 0;
}

#first_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    background-attachment: fixed;
    min-height: 100vh;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#sec_page {
    margin: 8% 4%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.flex {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: fit-content;
   
}

h3 {
    font-size: 40px;
}
h4 {
    font-size: 20px;
}
.pratical {
    align-self: center;
    font-size: 16px;
}
input[type="button"] {
    border: 1px solid rgba(245, 245, 245);
    width: fit-content;
    padding: 5px 15px;
    margin: 15px 0;
    background-color: transparent;

    color: #eee;
    font-size: 20px;
}
.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 4% ;
    width: 100vw;
    min-height: 100vh;
    background-color: #eee;
    color: #0C0B0D;
}
.display div p{
    max-width: 85vw;
    font-size: 20px;
    margin: 20px 0 0 0;
}

input[type="button"]:hover {
    cursor: pointer;
    transition: 0.5s;
    color: #0C0B0D;
    background-color: rgba(245, 245, 245);
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image {
    align-self: center;
    margin: 10px 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 10px;
    font-size: 12px;
    color: #eee;
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        align-items: center;
        

    }

    .pratical {
        flex-direction: column;
    }

    #first_page {
        background-image: url(../assets/background_mboile.png);
    }

    #sec_page {
        text-align: justify;
        margin: 15% 2%;
        display: flex;
        flex-direction: column;

    }

    .grid-container {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        padding: 3%;
        justify-content: center;
        align-self: center;
        gap: 0;
    }

}

@media screen and (max-width: 500px) {


    .pratical h3 {
        line-height: 20px;
    }

    .pratical ul li {
        font-size: 16px;
    }
    .display div p{
        max-width: 85vw;
        font-size: 16px;
    }


}